POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB_HOST=db

REDIS_HOST=redis
REDIS_PORT=6379

HABR_ADAPTER_PORT=7000
PROXY_URL='http://user:password@ip:port'